@if (subscription) {
<section class="container mx-auto">
  <div class="h-[444px] pb-24 bg-white flex-col justify-center items-center overflow-hidden">
    <div class="self-stretch h-[348px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[348px] p-16 bg-gray-50 rounded-2xl flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">{{subscription.title}}</div>
          <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{subscription.sub_title}}</div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="justify-center items-start gap-4 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-center inline-flex">
              <div class="self-stretch h-12 flex-col justify-start items-start gap-1.5 flex w-[400px]">
                <input type="email" formControlName="email" placeholder="Enter your email" class="self-stretch px-3.5 py-3 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">

                @if (!form.get('email')?.valid && form.get('email')?.touched) {
                  <p>Please enter your Name</p>
                }

              </div>
              <!-- <div class="self-stretch mt-3"><span class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">{{subscription.policy}}</span></div> -->
            </div>
            <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
              <div class="px-0.5 justify-center items-center flex">
                <button class="text-white cursor-pointer text-base font-semibold font-['Inter'] leading-normal">Subscribe</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
}
