<section class="container mx-auto">
  <div class="h-[72px] px-8 mt-4 justify-center items-center border-b border-[#e4e7ec]">
    <div class="justify-center items-center gap-4 flex">
      <div class="justify-center items-center gap-6 flex">
        <div class="px-3 py-2 bg-white rounded-md justify-center items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Course Catalogue</div>
          </div>
        </div>
        <div class="px-3 py-2 bg-white rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Bundles and Subcriptions</div>
          </div>
        </div>
        <div class="h-10 px-3 py-2 rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-6 justify-start items-center gap-3 flex">
            <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-normal">CPE Forums</div>
          </div>
        </div>
        <div class="h-11 px-3 py-2 rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-7 justify-center items-center gap-3 flex">
            <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">About</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container mx-auto mt-8">
  <div class="h-9 w-full px-12 justify-start items-start gap-12 inline-flex">
    <div class="grow shrink basis-0 h-9 px-1 pb-3 border-b-2 border-[#155dee] justify-center items-center gap-2 flex">
      <div class="text-[#155dee] text-2xl font-semibold font-['Inter'] leading-loose">Course Outline</div>
    </div>
    <div class="grow shrink basis-0 h-9 px-1 pb-3 justify-center items-center gap-2 flex">
      <div class="text-[#667085] text-2xl font-semibold font-['Inter'] leading-loose">CPE Info</div>
    </div>
    <div class="grow shrink basis-0 h-9 px-1 pb-3 justify-center items-center gap-2 flex">
      <div class="text-[#667085] text-2xl font-semibold font-['Inter'] leading-loose">FAQ</div>
    </div>
    <div class="grow shrink basis-0 h-9 px-1 pb-3 justify-center items-center gap-2 flex">
      <div class="text-[#667085] text-2xl font-semibold font-['Inter'] leading-loose">Review</div>
    </div>
  </div>

  <div class="h-[836px] py-24 bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch px-8 justify-start items-start gap-16 inline-flex">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-8 inline-flex">
        <div class="self-stretch h-[120px] flex-col justify-start items-start gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">FAQs</div>
          </div>
          <div class="self-stretch"><span class="text-[#475467] text-lg font-normal font-['Inter'] leading-7">Everything you need to know about the........... . Can’t find the answer you’re looking for? Please </span><span class="text-[#475467] text-lg font-normal font-['Inter'] underline leading-7">chat to our friendly team</span><span class="text-[#475467] text-lg font-normal font-['Inter'] leading-7">.</span></div>
        </div>
        <div class="self-stretch h-[132px] flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
              <div class="self-stretch"><span class="text-[#475467] text-base font-normal font-['Inter'] leading-normal">Every learner has access to their learners portal, via our website, where certificates are kept for ease of access. Please log into the learners portal with the details that were provided to you upon registration. If you are not able to find your login details, you can reset your password. We also email certificates to all learners after each course. Check your inbox (incl. spam folder). If something seems amiss, and neither options are available, please email us at "</span><span class="text-[#475467] text-base font-normal font-['Inter'] underline leading-normal">cpe&#64;cpewarehouse.com</span><span class="text-[#475467] text-base font-normal font-['Inter'] leading-normal">"</span></div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="minus-circle">
                    <path id="Icon" d="M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#155EEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-7 flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="plus-circle">
                    <path id="Icon" d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#98A2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-7 flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="plus-circle">
                    <path id="Icon" d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#98A2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-7 flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">Can other info be added to an invoice?</div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="plus-circle">
                    <path id="Icon" d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#98A2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
        <div class="self-stretch h-7 flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="plus-circle">
                    <path id="Icon" d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#98A2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch h-7 flex-col justify-start items-center flex">
          <div class="self-stretch justify-start items-start gap-6 inline-flex">
            <div class="grow shrink basis-0 flex-col justify-start items-start gap-2 inline-flex">
              <div class="self-stretch text-[#101828] text-lg font-medium font-['Inter'] leading-7">I can’t find my CPE Certificate. What should I do?</div>
            </div>
            <div class="pt-0.5 flex-col justify-start items-start inline-flex">
              <div class="w-6 h-6 relative  overflow-hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="plus-circle">
                    <path id="Icon" d="M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#98A2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="h-[976px] py-24 bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-[124px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[124px] flex-col justify-start items-start gap-8 flex">
        <div class="self-stretch h-[124px] flex-col justify-start items-start gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Giving Back</div>
          </div>
          <div class="w-[982px] text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">At CPE Warehouse, we’re dedicated to making an impact through education and charitable giving. $30,000 Donated to Support Education and Charitable Causes so far</div>
        </div>
      </div>
    </div>
    <div class="self-stretch px-8 justify-start items-center gap-16 inline-flex">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-white rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#e4e7ec] justify-center items-center flex overflow-hidden">
            <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="zap">
                  <path id="Icon" d="M13.0008 2L4.09429 12.6879C3.74549 13.1064 3.57108 13.3157 3.56842 13.4925C3.5661 13.6461 3.63457 13.7923 3.7541 13.8889C3.89159 14 4.16402 14 4.70887 14H12.0008L11.0008 22L19.9074 11.3121C20.2562 10.8936 20.4306 10.6843 20.4333 10.5075C20.4356 10.3539 20.3671 10.2077 20.2476 10.1111C20.1101 10 19.8377 10 19.2928 10H12.0008L13.0008 2Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
              </svg>
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-[168px] pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Our Contribution</div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">We donate $1 to the Alzheimer’s Foundation of America with every purchase you make. • Alzheimer's Disease is the 6th leading cause of death in the U.S., and we’re dedicated to supporting breakthroughs in its treatment.</div>
            </div>
          </div>
        </div>
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-white rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#e4e7ec] justify-center items-center flex overflow-hidden">
            <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="zap">
                  <path id="Icon" d="M13.0008 2L4.09429 12.6879C3.74549 13.1064 3.57108 13.3157 3.56842 13.4925C3.5661 13.6461 3.63457 13.7923 3.7541 13.8889C3.89159 14 4.16402 14 4.70887 14H12.0008L11.0008 22L19.9074 11.3121C20.2562 10.8936 20.4306 10.6843 20.4333 10.5075C20.4356 10.3539 20.3671 10.2077 20.2476 10.1111C20.1101 10 19.8377 10 19.2928 10H12.0008L13.0008 2Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
              </svg>

            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-36 pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Alzheimer’s Financial and Health Impact</div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">In 2019, Alzheimer’s cost the U.S. $290 billion, projected to rise to $1.1 trillion by 2050. • Currently, 5.8 million Americans are living with Alzheimer’s, a number expected to nearly triple by 2050.</div>
            </div>
          </div>
        </div>
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-white rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#e4e7ec] justify-center items-center flex overflow-hidden">
            <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="zap">
                  <path id="Icon" d="M13.0008 2L4.09429 12.6879C3.74549 13.1064 3.57108 13.3157 3.56842 13.4925C3.5661 13.6461 3.63457 13.7923 3.7541 13.8889C3.89159 14 4.16402 14 4.70887 14H12.0008L11.0008 22L19.9074 11.3121C20.2562 10.8936 20.4306 10.6843 20.4333 10.5075C20.4356 10.3539 20.3671 10.2077 20.2476 10.1111C20.1101 10 19.8377 10 19.2928 10H12.0008L13.0008 2Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
              </svg>

            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-36 pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Our Ongoing Commitment</div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">Apart from serving our customers, we aim to contribute to the next big breakthrough in Alzheimer’s treatment. • Every purchase helps fund research that will bring us closer to a cure</div>
            </div>
            <div class="justify-center items-center gap-2 inline-flex overflow-hidden">
              <div><span class="text-[#6840c6] text-base font-semibold font-['Inter'] leading-normal">Visit </span><span class="text-[#6840c6] text-base font-semibold font-['Inter'] underline leading-normal">www.alzfdn.org</span><span class="text-[#6840c6] text-base font-semibold font-['Inter'] leading-normal"> for more information.</span></div>
              <div class="w-5 h-5 relative  overflow-hidden">

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="zap">
                    <path id="Icon" d="M13.0008 2L4.09429 12.6879C3.74549 13.1064 3.57108 13.3157 3.56842 13.4925C3.5661 13.6461 3.63457 13.7923 3.7541 13.8889C3.89159 14 4.16402 14 4.70887 14H12.0008L11.0008 22L19.9074 11.3121C20.2562 10.8936 20.4306 10.6843 20.4333 10.5075C20.4356 10.3539 20.3671 10.2077 20.2476 10.1111C20.1101 10 19.8377 10 19.2928 10H12.0008L13.0008 2Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="h-[560px] relative" src="/assets/images/faq-banner.jpg" />
    </div>
  </div>
</section>