<section class="container mx-auto">
  <div class="h-[72px] px-8 mt-4 justify-center items-center border-b border-[#e4e7ec]">
    <div class="justify-center items-center gap-4 flex">
      <div class="justify-center items-center gap-6 flex">
        <div class="px-3 py-2 bg-white rounded-md justify-center items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Course Catalogue</div>
          </div>
        </div>
        <div class="px-3 py-2 bg-white rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Bundles and Subcriptions</div>
          </div>
        </div>
        <div class="h-10 px-3 py-2 rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-6 justify-start items-center gap-3 flex">
            <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-normal">CPE Forums</div>
          </div>
        </div>
        <div class="h-11 px-3 py-2 bg-[#f2f4f7] rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-7 justify-center items-center gap-3 flex">
            <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">About</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="my-20 px-8 justify-center items-center gap-16 inline-flex">
    <div class="w-1/2 grow shrink basis-0 flex-col justify-center items-center inline-flex">
      <div class="self-stretch h-[838px] flex-col justify-start items-start gap-12 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-start gap-5 flex">
          <div class="w-[448px] text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Contact us</div>
          <div class="w-[448px] text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Our team would love to hear from you.</div>
        </div>
        <div class="self-stretch h-[696px] flex-col justify-start items-start gap-8 flex">
          <div class="self-stretch h-[616px] flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch justify-start items-start gap-8 inline-flex">
              <div class="grow shrink basis-0 flex-col justify-start items-start gap-1.5 inline-flex">
                <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                  <div class="justify-start items-start gap-0.5 inline-flex">
                    <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">First name</div>
                    <div class="text-[#7e56d8] text-sm font-medium font-['Inter'] leading-tight">*</div>
                  </div>
                  <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start gap-1.5 inline-flex">
                <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                  <div class="justify-start items-start gap-0.5 inline-flex">
                    <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Last name</div>
                    <div class="text-[#7e56d8] text-sm font-medium font-['Inter'] leading-tight">*</div>
                  </div>
                  <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
                </div>
              </div>
            </div>
            <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
              <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                <div class="justify-start items-start gap-0.5 inline-flex">
                  <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Email</div>
                  <div class="text-[#7e56d8] text-sm font-medium font-['Inter'] leading-tight">*</div>
                </div>
                <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
              </div>
            </div>
            <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
              <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                <div class="justify-start items-start gap-0.5 inline-flex">
                  <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Phone Number</div>
                </div>
                <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
              </div>
            </div>
            <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
              <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                <div class="justify-start items-start gap-0.5 inline-flex">
                  <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Select the question category</div>
                </div>
                <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
              </div>
            </div>
            <div class="self-stretch h-40 flex-col justify-start items-start gap-1.5 flex">
              <div class="self-stretch grow shrink basis-0 flex-col justify-start items-start gap-1.5 flex">
                <div class="justify-start items-center gap-0.5 inline-flex">
                  <div class="text-[#344054] text-sm font-medium font-['Inter'] leading-tight">Message</div>
                  <div class="text-[#7e56d8] text-sm font-medium font-['Inter'] leading-tight">*</div>
                </div>
                <textarea name="" id="" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex"></textarea>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="pt-0.5 justify-center items-center flex">
                <div class="w-5 h-5 relative rounded-md border border-[#d0d5dd]"></div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start gap-0.5 inline-flex">
                <div class="self-stretch"><span class="text-[#475467] text-base font-normal font-['Inter'] leading-normal">You agree to CPE Warehouse’s </span><span class="text-[#475467] text-base font-normal font-['Inter'] underline leading-normal">Privacy Policy</span></div>
              </div>
            </div>
          </div>
          <div class="self-stretch h-12 flex-col justify-start items-start gap-4 flex">
            <div class="self-stretch px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 inline-flex overflow-hidden">
              <div class="px-0.5 justify-center items-center flex">
                <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Send message</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2">
      <img class="h-[800px] relative" src="/assets/images/contact-banner-1.png" />
    </div>
  </div>
</section>

<section class="bg-[#eef3ff]">
  <div class="container mx-auto">
    <div class="h-[734px] pt-24 pb-40 flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch h-[124px] px-8 flex-col justify-start items-start gap-8 flex">
        <div class="self-stretch h-[124px] flex-col justify-start items-start gap-8 flex">
          <div class="self-stretch h-[124px] flex-col justify-start items-start gap-5 flex">
            <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Loop us in</div>
            </div>
            <div class="self-stretch"><span class="text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Our team is always here to chat from Monday to Friday </span><span class="text-[#475467] text-xl font-bold font-['Inter'] leading-[30px]">8am to 5pm</span><span class="text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]"> ET. We are closed on </span><span class="text-[#475467] text-xl font-bold font-['Inter'] leading-[30px]">US Holidays and weekends </span><span class="text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">but don't worry our bots don't sleep.</span></div>
          </div>
        </div>
      </div>
      <div class="self-stretch h-[290px] px-8 bg-[#eef4ff] flex-col justify-start items-center gap-24 flex">
        <div class="self-stretch justify-start items-start gap-8 inline-flex">
          <div class="grow shrink basis-0 h-[290px] p-6 bg-gray-50 flex-col justify-start items-start gap-16 inline-flex">
            <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center inline-flex overflow-hidden">
              <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
                <img src="/assets/images/icon-7.png" alt="">
              </div>
            </div>
            <div class="self-stretch h-[106px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch h-[62px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Social Media</div>
                <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">Connect with us</div>
              </div>
              <div class="self-stretch justify-start items-center gap-8 inline-flex">
                <div class="w-6 h-6 justify-center items-center flex overflow-hidden"></div>
                <div class="w-6 h-6 pr-[0.01px] justify-center items-center flex overflow-hidden">
                  <div class="w-6 h-6 relative">
                  </div>
                </div>
                <div class="w-6 h-6 relative  overflow-hidden"></div>
                <div class="w-6 h-6 relative  overflow-hidden"></div>
              </div>
            </div>
          </div>
          <div class="grow shrink basis-0 h-[290px] p-6 bg-gray-50 flex-col justify-start items-start gap-16 inline-flex">
            <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center inline-flex overflow-hidden">
              <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
                <img src="/assets/images/icon-8.png" alt="">
              </div>
            </div>
            <div class="self-stretch h-[106px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch h-[62px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Email us</div>
                <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">The carrier pigeons are idle</div>
              </div>
              <div class="rounded-full justify-center items-center gap-2 inline-flex overflow-hidden">
                <div class="text-[#475467] text-base font-semibold font-['Inter'] leading-normal">
                  {{ "cpe@cpewarehouse.com" }}
                </div>
              </div>
            </div>
          </div>
          <div class="grow shrink basis-0 h-[290px] p-6 bg-gray-50 flex-col justify-start items-start gap-16 inline-flex">
            <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center inline-flex overflow-hidden">
              <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
                <img src="/assets/images/icon-9.png" alt="">
              </div>
            </div>
            <div class="self-stretch h-[106px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch h-[62px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Call us</div>
                <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">Speak to a human</div>
              </div>
              <div class="rounded-full justify-center items-center gap-2 inline-flex overflow-hidden">
                <div class="text-[#475467] text-base font-semibold font-['Inter'] leading-normal">+1 (437) 291-1446</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="container mx-auto">
    <div class="h-[704px] bg-white flex-col justify-start items-center inline-flex">
        <div class="self-stretch h-[640px] flex-col justify-start items-center flex">
            <div class="self-stretch rounded-tl-3xl rounded-tr-3xl justify-center items-center gap-8 inline-flex">
                <div class="pt-[378px] flex-col justify-end items-center inline-flex">
                    <div class="self-stretch h-[262px] pt-24 bg-gradient-to-b from-black to-black flex-col justify-center items-center inline-flex">
                        <div class="self-stretch h-[166px] px-6 pt-6 pb-8 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-8 flex">
                            <div class="self-stretch h-[110px] flex-col justify-start items-start gap-4 flex">
                                <div class="self-stretch justify-start items-start gap-4 inline-flex">
                                    <div class="grow shrink basis-0 text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Washington DC</div>
                                    <div class="pt-1.5 flex-col justify-start items-start inline-flex">
                                        <div class="w-6 h-6 relative  overflow-hidden"></div>
                                    </div>
                                </div>
                                <div class="self-stretch h-14 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">1717 Pennsylvania Ave NW Suite                 1025 Washington, DC 20006, USA</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-[624px] h-[640px] pt-[378px] flex-col justify-end items-center inline-flex">
                    <div class="h-[262px] pt-24 bg-gradient-to-b from-black to-black flex-col justify-center items-center inline-flex">
                        <div class="self-stretch h-[166px] px-6 pt-6 pb-8 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-8 flex">
                            <div class="self-stretch h-[110px] flex-col justify-start items-start gap-4 flex">
                                <div class="self-stretch justify-start items-start gap-4 inline-flex">
                                    <div class="grow shrink basis-0 text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Toronto - Headquarters</div>
                                    <div class="pt-1.5 flex-col justify-start items-start inline-flex">
                                        <div class="w-6 h-6 relative  overflow-hidden"></div>
                                    </div>
                                </div>
                                <div class="self-stretch h-14 flex-col justify-start items-start gap-1 flex">
                                    <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">Suite 207, 180 John st Toronto,                 ON M5T 1X5, Canada</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="container py-20 mx-[18%]">
  <div class="h-[252px] w-[75%] p-16 bg-gray-50 rounded-2xl flex-col justify-start items-center gap-8 inline-flex">
    <div class="self-stretch h-[124px] flex-col justify-start items-center gap-5 flex">
      <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Tongue-tied?</div>
      <div class="self-stretch text-center">
        <span class="block text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Ask us about creating a customized/tailored CPE Solution for your firm  Call Us at </span>
        <span class="text-[#475467] text-xl font-bold font-['Inter'] leading-[30px]">+1 (437) 291-1446</span>
      </div>
    </div>
  </div>
</section>

