<header class="flex sticky shadow-lg px-3 py-2 top-0 bg-white z-50">
  <nav class="container mx-auto h-20 justify-between  lg:justify-start items-center inline-flex">
    <div class="shrink basis-0 self-stretch flex-col justify-center items-center gap-8 inline-flex">
      <div class="self-stretch justify-start items-center gap-8 inline-flex">
        <div class="h-[42px] justify-start items-center gap-8 flex">
          <div class="w-[130px] md:w-[200px] flex items-center">
            <a routerLink="/">
              <img src="{{ headerlogo }}" alt="LOGO" srcset="">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="navLinks z-50 {{ toggleMobileClass }} duration-500 absolute lg:static w-full lg:h-auto md:h-[100vh] bg-white flex gap-[1.5vw] top-[100%]  px-5 md:py-0 py-5 ">
      <ul class="flex flex-wrap md:flex-row flex-col lg:justify-between md:items-center md:gap-[2vw] gap-8 w-full">
        <li class="relative pr-3 md:pr-0 py-1">
          <div class="justify-start items-center gap-4 flex">
            <div class="h-12 justify-start items-center flex">
              <div class=" md:w-full self-stretch flex-col justify-start items-start gap-1.5 inline-flex">
                <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                  </div>
                  <div class="searchBox" class="py-3 ps-10 lg:w-[600px] md:w-full bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border focus:outline-blue-500">
                    <ng-autocomplete #auto [data]="data" [searchKeyword]="keyword" placeholder="Search" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300">
          <div class="px-4 py-2.5 rounded-lg justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <a routerLink="/checkout" class="text-[#475467] text-lg font-semibold font-['Inter'] leading-7 flex items-center">
                <img src="/assets/images/cart.gif" class="h-[30px] w-[30px]" alt="">
                {{ cartQty ? cartQty : ''  }}
              </a>
            </div>
          </div>
        </li>
        <li class="relative max-w-fit pr-3 md:pr-0 py-1 after:bg-gradient-to-r from-[#2b68e0] to-[#e710ea]  after:absolute after:h-1 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300">
          <div class="px-4 py-2.5 rounded-lg justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <a routerLink="/login" class="text-[#475467] text-lg font-semibold font-['Inter'] leading-7">Log in</a>
            </div>
          </div>
        </li>
        <li class="relative max-w-fit pr-3 md:pr-0 py-1">
          <div class="px-4 py-2.5 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <a routerLink="/register" class="text-white text-lg font-semibold font-['Inter'] leading-7">Create profile</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-2">
      <i (click)="onMenuToggle($event)" class="text-[30px] cursor-pointer lg:hidden">

        @if (toggleMobileIcon) {
        <ng-icon name="ionMenuOutline" />
        }

        @else {
        <ng-icon name="ionClose" />
        }
      </i>
    </div>

  </nav>

</header>

<section class="container mx-auto">
  <div class="h-[72px] px-8 mt-4 justify-center items-center">
    <div class="justify-center items-center gap-4 flex">
      <div class="justify-center items-center gap-6 flex">
        <div class="px-3 py-2 bg-white rounded-md justify-center items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <a routerLink="/course-catalog" class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Course Catalogue</a>
          </div>
        </div>
        <div class="px-3 py-2 bg-white rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="justify-start items-center gap-3 flex">
            <a routerLink="/bundle-and-subscription" class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Bundles and Subcriptions</a>
          </div>
        </div>
        <div class="h-10 px-3 py-2 rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-6 justify-start items-center gap-3 flex">
            <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-normal">CPE Forums</div>
          </div>
        </div>
        <div class="h-11 px-3 py-2 bg-[#f2f4f7] rounded-md justify-start items-center gap-2 flex overflow-hidden">
          <div class="grow shrink basis-0 h-7 justify-center items-center gap-3 flex">
            <a routerLink="/about-us" class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">About</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

