<header class="container mx-auto flex">
  <div class="h-20 justify-between items-center inline-flex">
    <div class="grow shrink basis-0 self-stretch flex-col justify-center items-center gap-8 inline-flex">
      <div class="self-stretch px-8 justify-start items-center gap-8 inline-flex">
        <div class="justify-start items-center gap-8 flex">
          <div class="h-[42px] justify-start items-start flex">
            <div class="self-stretch pl-6 pr-5 flex-col justify-start items-start inline-flex">
              <img class="w-[226px] h-[42px]" src="/assets/images/logo.png" />
            </div>
          </div>
        </div>
        <div class="justify-start items-center gap-4 flex">

          <div class="h-12 justify-start items-center flex">
            <div class="w-[600px] self-stretch flex-col justify-start items-start gap-1.5 inline-flex">
              <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                  </svg>
                </div>
                <input type="text" placeholder="Search" class="py-3 ps-10 w-[600px] bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border focus:outline-blue-500" />
              </div>
            </div>
          </div>
        </div>
        <div class="justify-start items-center gap-8 flex">
          <div class="px-4 py-2.5 rounded-lg justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-[#475467] text-lg font-semibold font-['Inter'] leading-7">Log in</div>
            </div>
          </div>
          <div class="px-4 py-2.5 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-lg font-semibold font-['Inter'] leading-7">Create profile</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>