@if (getInTouch) {
  <section class="container mx-auto">
    <div class="h-[704px] py-24 bg-white flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch px-8 justify-center items-center gap-16 inline-flex overflow-hidden">
        <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
          <div class="self-stretch h-[174px] flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">{{getInTouch.title}}</div>
            <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{getInTouch.sub_title}}</div>
          </div>
          <div class="self-stretch justify-start items-start gap-4 inline-flex">
            <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px]  shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
              <div class="px-0.5 justify-center items-center flex">
                <a routerLink="{{ getInTouch.button.href }}" class="text-white text-base font-semibold font-['Inter'] leading-normal">
                  {{ getInTouch.button.label }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <img class="h-[512px] relative" src="{{imageUrl + getInTouch.image.data.attributes.url }}" />
      </div>
    </div>
  </section>
}