<section class="container mx-auto flex py-16">
    <div class="w-1/2 flex-col justify-center ">
        <div class="self-stretch h-[522px] px-8 flex-col justify-start items-center flex">
            <div class="h-[522px] flex-col justify-start items-center gap-8 flex w-full">
                <div class="self-stretch h-[78px] flex-col justify-start items-start gap-3 flex">
                    <div class="self-stretch text-[#101828] text-3xl font-semibold font-['Inter'] leading-[38px]">Welcome back</div>
                    <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Welcome back! Please enter your details.</div>
                </div>
                <div class="self-stretch h-[352px] rounded-xl flex-col justify-start items-center gap-6 flex">
                    <div class="self-stretch h-44 flex-col justify-start items-start gap-5 flex">
                        <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                            <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                                <div class="justify-start items-start gap-0.5 inline-flex">
                                    <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Email</div>
                                </div>
                                <input type="text" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
                            </div>
                        </div>
                        <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                            <div class="self-stretch h-[78px] flex-col justify-start items-start gap-1.5 flex">
                                <div class="justify-start items-start gap-0.5 inline-flex">
                                    <div class="text-[#344054] text-lg font-medium font-['Inter'] leading-7">Password</div>
                                </div>
                                <input type="password" name="" id="" class="self-stretch px-3.5 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
                            </div>
                        </div>
                    </div>
                    <div class="self-stretch justify-start items-center inline-flex">
                        <div class="grow shrink basis-0 h-5 justify-start items-start gap-2 flex">
                            <div class="pt-0.5 justify-center items-center flex">
                                <div class="w-4 h-4 relative rounded border border-[#d0d5dd]"></div>
                            </div>
                            <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                                <div class="self-stretch text-[#344054] text-sm font-medium font-['Inter'] leading-tight">Remember Your Password</div>
                            </div>
                        </div>
                        <div class="self-stretch justify-center items-center gap-1.5 flex overflow-hidden">
                            <div class="text-[#2970fe] text-sm font-medium font-['Inter'] leading-tight">Forgot password</div>
                        </div>
                    </div>
                    <div class="self-stretch h-[108px] flex-col justify-start items-start gap-4 flex">
                        <div class="self-stretch px-4 py-2.5 bg-[#2970fe] rounded-[28px] shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] shadow-[inset_0px_-2px_0px_0px_rgba(16,24,40,0.05)] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 inline-flex overflow-hidden">
                            <div class="px-0.5 justify-center items-center flex">
                                <div class="text-white text-lg font-semibold font-['Inter'] leading-7">Log in</div>
                            </div>
                        </div>
                        <div class="self-stretch h-11 flex-col justify-center items-center gap-3 flex">
                            <div class="self-stretch px-4 py-2.5 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] shadow-[inset_0px_-2px_0px_0px_rgba(16,24,40,0.05)] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#d0d5dd] justify-center items-center gap-3 inline-flex overflow-hidden">
                                <div class="w-6 h-6 relative  overflow-hidden"></div>
                                <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">Sign in with Google</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch justify-center items-baseline gap-1 inline-flex">
                    <div class="text-[#475467] text-lg font-normal font-['Inter'] leading-7">New to CPE warehouse?</div>
                    <div class="justify-center items-center gap-1.5 flex overflow-hidden">
                        <div class="text-[#2970fe] text-lg font-semibold font-['Inter'] leading-7">Sign up</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">© 2024 Asterid Group Inc.</div>
    </div>

    <div class="w-1/2">
        <div class="rounded-[20px] h-[600px]" style="background-image:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/images/sign-up-banner.jpg');background-repeat: no-repeat; background-position: center; background-size: cover;">
            <div class="pt-[325px] ">
                <div class="self-stretch h-[274px]  pt-24 bg-gradient-to-b flex-col justify-center items-center inline-flex">
                    <div class="self-stretch h-[178px] rounded-b-[20px] p-8 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-8 flex">
                        <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Headline about CPe earehouse and what we do in continue education. 3 lines  Headline about CPe earehouse and what </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>