<section class="container mx-auto flex justify-center mt-10">
  <div class="w-1/2 self-stretch inline-flex flex-col justify-start items-center gap-8">
    <div class="w-full max-w-[768px] flex flex-col justify-start items-center gap-5">
      <div class="self-stretch flex flex-col justify-start items-start gap-3">
        <div class="self-stretch text-center justify-start text-[#004EEA] text-base font-semibold font-['Inter'] leading-normal">Faculty</div>
        <div class="self-stretch text-center justify-start text-Colors-Text-text-primary-(900) text-4xl font-semibold font-['Inter'] leading-10">Meet Our Top-Rated Faculty</div>
      </div>
      <div class="self-stretch text-center justify-start text-[#475467] font-normal font-['Inter'] leading-loose">CPE Warehouse is committed to providing a seamless and exceptional continuing education experience for finance and accounting professionals. Our courses are instructed by leading finance professionals across Canada and the U.S.</div>
    </div>
    <div class="inline-flex justify-start items-start gap-3">
      <div class="px-4 py-3 rounded-lg shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] outline outline-1 outline-offset-[-1px] outline-[#DOD5DD] flex justify-center items-center gap-1.5 overflow-hidden">
        <div class="px-0.5 flex justify-center items-center">
          <a routerLink="/about-us" class="justify-start text-Component-colors-Components-Buttons-Secondary-button-secondary-fg text-base font-semibold font-['Inter'] leading-normal">About us</a>
        </div>
      </div>
      <div class="px-4 bg-[#444CE6] text-white py-3 bg-Colors-Indigo-600 rounded-3xl shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] outline outline-2 outline-offset-[-2px] outline-white/10 flex justify-center items-center gap-1.5 overflow-hidden">
        <div class="px-0.5 flex justify-center items-center">
          <a routerLink="/course-catalog" class="justify-start text-Component-colors-Components-Buttons-Primary-button-primary-fg text-base font-semibold font-['Inter'] leading-normal">Explore Course Catalouge</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <app-faculty></app-faculty>
</section>

