<section class="">
  <div class="my-16 bg-white">
    <div class="flex px-8 justify-center items-center">
      <div class="grow shrink basis-0 flex-col justify-start items-start ml-20">
        <div class="flex-col justify-start items-start gap-12 flex mb-8">
          <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">Best In Class CPE for Finance Professionals</div>
          <div class="self-stretch h-[268px] pl-4 flex-col justify-start items-start gap-5 flex">
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">
                  Practical, Relevant & Up to date
                </div>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex ">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Personalized Dashboard, CPE Certificate, Live Q &A session</div>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Top- rated faculty | On- Demand courses | CPE credit</div>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Regulatory requirements at your fingertips</div>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Easy access on mobile, tablet and desktop</div>
              </div>
            </div>
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">Online document storage that doesn’t expire</div>
              </div>
            </div>
          </div>
        </div>
        <div class="justify-start items-start gap-3 inline-flex">
          <div class="px-[18px] py-3 bg-white rounded-lg shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#d0d5dd] justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">View package</div>
            </div>
          </div>
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-base font-semibold font-['Inter'] leading-normal">View Course catalouge</div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <img class="w-full" src="/assets/images/banner-3.png" />
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="h-[544px] pt-24 pb-40 bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch justify-start items-start gap-24 inline-flex">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
        <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
          <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">CPE MADE SIMPLE</div>
        </div>
        <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Asterid Group Inc's proprietary CPE Warehouse portal offers an extensive catalogue of live and on-demand courses led by top-rated instructors.</div>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-white justify-center items-center flex overflow-hidden">
            <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
              <img src="/assets/images/thumb-icon.png" alt="">
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-[120px] pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Stay Compliant and Up-to-Date</div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">Our courses are designed to fulfil both state and federal finance requirements, ensuring you stay confidently aligned with the latest industry standards and best practices.</div>
            </div>
          </div>
        </div>
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#e4e7ec] justify-center items-center flex overflow-hidden">
            <div class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
              <img src="/assets/images/basket-icon.png" alt="">
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-[120px] pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">Flexible Education That Fits Your Life</div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">We make continuing education easy, accessible, and tailored to your schedule—supporting your career growth while improving your clients’ portfolio</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="w-full h-[612px] pb-24 flex-col justify-start items-center inline-flex">
    <div class="self-stretch h-[516px] bg-white flex-col justify-start items-start flex">
      <img class="h-[516px] w-full relative" src="/assets/images/banner-2.jpg" />
    </div>
  </div>
</section>

<section class="bg-[#f9fafb] py-24">
  <div class="container mx-auto">
    <div class="self-stretch h-[94px] mb-12 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-left text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">New on CPE Warehouse</div>
          </div>
          <div class="self-stretch text-left text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Explore our newest programs, focused on delivering in-demand skills</div>
        </div>
      </div>
    </div>
    <div class="flex gap-8 flex-wrap border-b border-[#e4e7ec] pb-14">
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-[380px] rounded-[10px] border-[#d4d5d6] border-2">
        <div class=" h-[132px] relative bg-gradient-to-t from-[#72edf2] to-[#5151e5] rounded-[10px] flex-col justify-start items-start inline-flex overflow-hidden">
          <div class="h-14 w-full  flex-col justify-center items-center inline-flex">
            <div class="self-stretch h-14 p-4 bg-white/30 border-t border-white/30 backdrop-blur-xl flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch justify-start items-start gap-6 inline-flex">
                <div class="flex-col justify-start items-start inline-flex">
                  <div class="text-white text-base font-bold font-['Inter'] leading-normal">Credits: 3.5 | NASBA | IRS | CFP</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 mt-2">
            <div class="flex">
              <img class="w-8 h-8 rounded-[684px] ml[-10px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
              <img class="w-8 h-8 rounded-[684px]" src="/assets/images/person.png" />
            </div>
            <div class="w-[280px] mt-3 justify-start items-center gap-2.5 inline-flex">
              <div class="flex-col justify-start items-start inline-flex">
                <div class="text-white text-sm font-semibold font-['Inter'] leading-tight">Bradley Burnett | Arthur Werner | Mary Jane </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-5 pb-6 mt-4 flex-col justify-start items-start gap-[18px] inline-flex">
          <div class="self-stretch justify-start items-start gap-2 inline-flex">
            <div class="pl-2 pr-2.5 py-0.5 bg-[#ecfcf2] rounded-full border border-[#aaefc6] justify-start items-center gap-1.5 flex">
              <div class="w-2 h-2 relative">
                <div class="w-1.5 h-1.5 left-[1px] top-[1px] absolute bg-[#17b169] rounded-full"></div>
              </div>
              <div class="text-center text-[#057647] text-sm font-medium font-['Inter'] leading-tight">Live webinar</div>
            </div>
            <div class="px-2.5 py-0.5 bg-[#fdf1f9] rounded-full border border-[#fbceee] justify-start items-center flex">
              <div class="text-center text-[#c01573] text-sm font-medium font-['Inter'] leading-tight">Tax</div>
            </div>
          </div>
          <div class="self-stretch flex-col justify-start items-start gap-2 flex">
            <div class="self-stretch text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Mastering Charitable Remainder Trusts – Planning and Compliance with Form 5227 </div>
            <div class="self-stretch text-[#475467] text-sm font-normal font-['Inter'] leading-normal">Tue Oct 22 2024 | 1:00 PM - 4:00 PM ET</div>
          </div>
          <div class="pl-1 pr-2.5 py-1 rounded-full justify-start items-center gap-3 inline-flex">
            <div class="text-[#667084] text-sm font-semibold font-['Inter'] line-through leading-[38px]">US$199</div>
            <div class="text-[#2970fe] text-xl font-semibold font-['Inter'] leading-[38px]">US$159</div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-12">
      <div class="w-[250px] px-[18px] py-3  bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center">
        <div class="px-0.5 justify-center items-center flex">
          <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Explore all webinars</div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="container mx-auto">
  <div class="h-[432px] py-24 w-full bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-60  flex justify-start items-center gap-16">
      <div class="w-full self-stretch py-16 border-t border-b border-[#e4e7ec] justify-between items-start gap-4 inline-flex">
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#422f7d] text-6xl font-semibold font-['Inter'] leading-[72px]">400+</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Certificate issued</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center"><span class="text-[#422f7d] text-6xl font-semibold font-['Inter'] leading-[72px]">600</span><span class="text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">%</span></div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Text to fill</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">30k</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Donated to Alzheimer's</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">200+</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">5-star reviews</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="container mx-auto">
  <div class="w-full h-[894px] py-24 bg-gradient-to-b rounded-[10px] flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-[94px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Approved by</div>
          </div>
          <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">You Can Trust the Credits You Earn with CPE warehouse</div>
        </div>
      </div>
    </div>
    <div class="self-stretch h-[623px] px-8 flex-col justify-start items-start gap-16 flex">
      <div class="self-stretch h-[623px] justify-center items-start gap-8 inline-flex">
        <div class="grow shrink basis-0 h-[560px] rounded-[10px] border border-[#155dee] flex-col justify-start items-start gap-5 inline-flex">
          <div class="h-[200px] pl-[97px] pr-[107px] pt-[29px] pb-[30px] bg-gradient-to-b from-[#f5feff] to-[#d4dbe2] rounded-tr-[10px] rounded-br-[10px] justify-start items-center inline-flex">
            <img class="w-[180px] self-stretch pt-2" src="/assets/images/approved.png" />
          </div>
          <div class="self-stretch h-[336px] p-4 flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch h-[304px] flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch justify-start items-start gap-4 inline-flex">
                <div class="grow shrink basis-0 text-[#101828] text-2xl font-semibold font-['Inter'] leading-loose">NASBA</div>
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">CPE Warehouse is registered with the National Association of State Boards of Accountancy (NASBA) as a sponsor of continuing professional education on the National Registry of CPE Sponsors. State boards of accountancy have final authority on the acceptance of individual courses for CPE credit. Complaints regarding registered sponsors may be submitted to the National Registry of CPE Sponsors through its website: www.nasbaregistry.org. Registry ID: 143337</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 h-[560px] rounded-[10px] border border-[#155dee] flex-col justify-start items-start gap-5 inline-flex">
          <div class="h-[200px] pl-[97px] pr-[107px] pt-[29px] pb-[30px] bg-gradient-to-b from-[#f5feff] to-[#d4dbe2] rounded-tr-[10px] rounded-br-[10px] justify-start items-center inline-flex">
            <img class="w-[180px] self-stretch pt-2" src="/assets/images/approved.png" />
          </div>
          <div class="self-stretch h-[336px] p-4 flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch h-[304px] flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch justify-start items-start gap-4 inline-flex">
                <div class="grow shrink basis-0 text-[#101828] text-2xl font-semibold font-['Inter'] leading-loose">CFP BOARD</div>
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">Certified Financial Planner Board of Standards Inc. owns the certification marks CFP®, CERTIFIED FINANCIAL PLANNER™ and federally registered CFP in the U.S., which it awards to individuals who successfully complete CFP Board’s initial and ongoing certification requirements. </div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 h-[560px] rounded-[10px] border border-[#155dee] flex-col justify-start items-start gap-5 inline-flex">
          <div class="h-[200px] pl-[97px] pr-[107px] pt-[29px] pb-[30px] bg-gradient-to-b from-[#f5feff] to-[#d4dbe2] rounded-tr-[10px] rounded-br-[10px] justify-start items-center inline-flex">
            <img class="w-[180px] self-stretch pt-2" src="/assets/images/approved.png" />
          </div>
          <div class="self-stretch h-[336px] p-4 flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch h-[304px] flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch justify-start items-start gap-4 inline-flex">
                <div class="grow shrink basis-0 text-[#101828] text-2xl font-semibold font-['Inter'] leading-loose">IRS</div>
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">CPE Warehouse is recognized by the Internal Revenue Service as a qualified entity to offer continuing education courses for tax professionals. This approval ensures that our course listings meet compliance standards (as outlined in section 10.6 and 10.9 of Circular 230), along with other quality assurance, and accreditation standards set forth by the IRS.  Our IRS approved Continuing Education Provider number is: 11111111 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-[#f9fafb] py-24">
  <div class="container mx-auto">
    <div class="self-stretch h-[94px] mb-12 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 justify-between items-start gap-3 flex">
            <div class="self-stretch text-left text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Faculty</div>
            <div class=" px-[18px] py-3  bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center">
              <div class="px-0.5 justify-center items-center flex">
                <div class="text-white text-base font-semibold font-['Inter'] leading-normal">View all Faculty</div>
              </div>
            </div>
          </div>
          <div class="self-stretch text-left text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">
            Hear from some of our amazing customers who are automating their finances.</div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap gap-8">
     
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[400px]">
        <div style="background-image: url('/assets/images/person.png');" class="h-[401px] w-full bg-no-repeat pt-[275px] flex-col justify-end items-center inline-flex">
          <div class="flex-col justify-center items-center inline-flex">
            <div class="self-stretch w-[300px] h-[126px] px-5 py-6 bg-white/30 border border-white/30 backdrop-blur-[14px] flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch h-[38px] flex-col justify-start items-start gap-4 flex">
                <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">Nick Preusch</div>
              </div>
              <div class="self-stretch h-7 flex-col justify-start items-start gap-0.5 flex">
                <div class="self-stretch text-white text-lg font-semibold font-['Inter'] leading-7">IRS Attorney</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-[#eef4ff]">
  <div class="container mx-auto">
    <div class="h-[592px] py-24  flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch px-8 justify-center items-center inline-flex">
        <div class="grow shrink basis-0 h-[400px] bg-[#6071f3] rounded-3xl shadow-[0px_20px_24px_-4px_rgba(16,24,40,0.08)] justify-start items-center flex overflow-hidden">
          <div class="grow shrink basis-0 p-16 flex-col justify-center items-start gap-12 inline-flex">
            <div class="self-stretch h-[156px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">2024 Live Webinar CPE Warehouse Pass  </div>
              <div class="self-stretch text-white text-xl font-normal font-['Inter'] leading-[30px]">One-Year All-Access Pass: Full year of access from the date of purchase.</div>
            </div>
            <div class="justify-start items-start gap-3 inline-flex">
              <div class="px-[22px] py-4 bg-white rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-2.5 flex overflow-hidden">
                <div class="px-0.5 justify-center items-center flex">
                  <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">Learn more</div>
                </div>
              </div>
            </div>
          </div>
          <img class="w-[480px] h-[400px] relative" src="/assets/images/banner-5.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="h-[704px] py-24 bg-white flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch px-8 justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        <div class="self-stretch h-[174px] flex-col justify-start items-start gap-6 flex">
          <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">Get in touch</div>
          <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Our friendly team is always here to chat from Monday to Friday 8am to 5pm ET. We are closed on US Holidays</div>
        </div>
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px]  shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Contact us</div>
            </div>
          </div>
        </div>
      </div>
      <img class="h-[512px] relative" src="/assets/images/banner-4.png" />
    </div>
  </div>
</section>


<section class="container mx-auto">
  <div class="h-[444px] pb-24 bg-white flex-col justify-center items-center overflow-hidden">
    <div class="self-stretch h-[348px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[348px] p-16 bg-gray-50 rounded-2xl flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Don't Miss Out on Free CPE Credits!</div>
          <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Sign up now to receive our free CPE courses and stay ahead of the curve.</div>
        </div>
        <div class="justify-center items-start gap-4 inline-flex">
          <div class="grow shrink basis-0 flex-col justify-center inline-flex">
            <div class="self-stretch h-12 flex-col justify-start items-start gap-1.5 flex w-[400px]">
              <input type="text" placeholder="Enter your email" class="self-stretch px-3.5 py-3 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
            </div>
            <div class="self-stretch mt-3"><span class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">We care about your data in our </span><span class="text-[#475467] text-sm font-normal font-['Inter'] underline leading-tight">privacy policy</span><span class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">.</span></div>
          </div>
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Subscribe</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>