@if (loading) {
  <app-loading></app-loading>
}

@if (frontPageBanner) {
<section class="">
  <div class="my-16 bg-white">
    <div class="flex md:flex-col lg:flex-row md:flex-wrap flex-nowrap px-8 justify-center items-center">
      <div class="grow shrink basis-0 flex-col justify-start items-start md:mb-20">
        <div class="flex-col justify-start items-start gap-12 flex mb-8">
          <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">{{frontPageBanner?.title}}</div>
          <div class="self-stretch h-[268px] pl-4 flex-col justify-start items-start gap-5 flex">
            @for (item of frontPageBanner.list; track $index) {
            <div class="self-stretch justify-start items-start gap-3 inline-flex">
              <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                  <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                </div>
              </div>
              <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">
                  {{ item.value }}
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="justify-start items-start gap-3 inline-flex">
          <div class="px-[18px] py-3 bg-white rounded-lg shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#d0d5dd] justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <a routerLink="{{ frontPageBanner.package_button.href }}" class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">
                {{ frontPageBanner.package_button.label }}</a>
            </div>
          </div>
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <a routerLink="{{ frontPageBanner.catalog_button.href }}" class="text-white text-base font-semibold font-['Inter'] leading-normal">
                {{ frontPageBanner.catalog_button.label }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <img class="w-full" src="{{ environmentUrl + frontPageBanner?.image?.data?.attributes?.url }}" />
      </div>
    </div>
  </div>
</section>
}


@if (highlightsimple) {
<section class="container mx-auto">
  <div class="h-auto py-24 bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch justify-start items-start gap-24 inline-flex">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
        <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
          <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">{{highlightsimple?.title}}</div>
        </div>
        <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{highlightsimple?.description}}</div>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        @for (list of highlightsimple?.list; track $index) {
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-white justify-center items-center flex overflow-hidden">
            <div [innerHTML]="sanitize(list?.icon)" class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-[120px] pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">
                {{ list?.title }}
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">
                {{ list?.description }}
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="w-full h-[612px] pb-24 flex-col justify-start items-center inline-flex">
    <div class="self-stretch h-auto bg-white flex-col justify-start items-start flex">
      <img class="h-auto w-full relative" src="{{ environmentUrl + highlightsimple?.image?.data?.attributes?.url }}" />
    </div>
  </div>
</section>

}

@if (freeCourseBanner) {
<section class="container mx-auto">
  <div class="self-stretch py-24 bg-Colors-Background-bg-primary inline-flex flex-col justify-start items-center gap-16 overflow-hidden">
    <div class="w-full max-w-[1280px] px-8 flex flex-col justify-start items-start gap-8">
      <div class="self-stretch flex flex-col justify-start items-start gap-8">
        <div class="w-full max-w-[768px] flex flex-col justify-start items-start gap-5">
          <div class="self-stretch justify-start text-Colors-Text-text-primary-(900) text-4xl font-semibold font-['Inter'] leading-10">
            {{ freeCourseBanner.tile }}
          </div>
          <div class="self-stretch justify-start text-Colors-Text-text-tertiary-(600) text-xl font-normal font-['Inter'] leading-loose">
            {{ freeCourseBanner.sub_title }}
          </div>
        </div>
      </div>
    </div>
    <div class="w-full max-w-[1280px] flex flex-col justify-start items-start gap-16">
      <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 p-6">
        @if (freeCourseListing.length > 0) {
        @for (course of freeCourseListing; track $index) {
        <div class="flex-1 min-w-96 rounded-2xl outline-1 outline-gray-300 outline-offset-[-1px] outline-Colors-Border-border-secondary inline-flex flex-col justify-start items-start overflow-hidden">
          <div class="self-stretch h-72 relative overflow-hidden">

            <img src="{{ imageUrl +  course?.image?.data?.attributes?.url }}" style="background-position: center; background-size: cover;" alt="" srcset="">
            <div class="w-[592px] h-16 left-0 top-0 absolute bg-gradient-to-b from-black/70 to-black/40 inline-flex flex-col justify-between items-start">
              <div class="self-stretch p-6 bg-Component-colors-Alpha-alpha-white-30/30 border-t border-Component-colors-Alpha-alpha-white-30/30 backdrop-blur-md flex flex-col justify-start items-start gap-6">
                <div class="self-stretch inline-flex justify-start items-start gap-6">
                  <div class="inline-flex flex-col justify-start items-start">
                    <div class="justify-start text-Component-colors-Components-Buttons-Primary-button-primary-fg text-2xl font-semibold font-['Inter'] leading-loose text-white">
                      {{ course.sub_title }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-stretch p-6 bg-white flex flex-col justify-start items-start gap-6">
            <div class="self-stretch flex flex-col justify-start items-start gap-2">
              <div class="self-stretch justify-start text-Colors-Text-text-primary-(900) text-2xl font-semibold font-['Inter'] leading-loose">{{course.title}}</div>
              <div class="self-stretch justify-start text-[#475467] text-base font-normal font-['Inter'] leading-normal" [innerHTML]="sanitize(course.shortDesc)"></div>
            </div>
            <a routerLink="/course/{{ course.slug }}" class="inline-flex justify-center items-center gap-2 overflow-hidden">
              <div class="justify-start text-[#155DEE] text-base font-semibold font-['Inter'] leading-normal">Start Learning Today</div>
              <div class="w-5 h-5 relative overflow-hidden">

                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="arrow-up-right">
                    <path id="Icon" d="M5.83203 14.1666L14.1654 5.83331M14.1654 5.83331H5.83203M14.1654 5.83331V14.1666" stroke="#155EEF" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                </svg>
              </div>
            </a>
          </div>
        </div>
        }
        }
      </div>
    </div>
  </div>
</section>
}


@if (liveWebinarPass) {
<section class="bg-[#eef4ff]">
  <div class="container mx-auto">
    <div class="h-[592px]  flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch px-8 justify-center items-center inline-flex">
        <div class="grow shrink basis-0 h-[400px] bg-[#6071f3] rounded-3xl shadow-[0px_20px_24px_-4px_rgba(16,24,40,0.08)] justify-start items-center flex overflow-hidden">
          <div class="grow shrink basis-0 p-16 flex-col justify-center items-start gap-12 inline-flex">
            <div class="self-stretch h-[156px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">{{liveWebinarPass.title}}</div>
              <div class="self-stretch text-white text-xl font-normal font-['Inter'] leading-[30px]">{{liveWebinarPass.sub_title}}</div>
            </div>
            <div class="justify-start items-start gap-3 inline-flex">
              <div class="px-[22px] py-4 bg-white rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-2.5 flex overflow-hidden">
                <div class="px-0.5 justify-center items-center flex">
                  <a routerLink="{{ liveWebinarPass.button.href }}" class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">
                    {{ liveWebinarPass.button.label }}</a>
                </div>
              </div>
            </div>
          </div>
          <img class="w-[480px] h-[400px] relative" src="{{ imageUrl + liveWebinarPass.image.data.attributes.url }}" />
        </div>
      </div>
    </div>
  </div>
</section>
}


@if (achivements?.list.length > 0) {
<section class="container pt-24 mx-auto">
  <div class="h-[432px]  w-full bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-60  flex justify-start items-center gap-16">
      <div class="w-full self-stretch py-16 border-t border-b border-[#e4e7ec] justify-between items-start gap-4 inline-flex">
        @for (achivement of achivements.list; track $index) {
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#422f7d] text-6xl font-semibold font-['Inter'] leading-[72px]">{{achivement.title}}</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">{{achivement.sub_title}}</div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

</section>
}

@if (approval) {
<div class="w-full h-[894px] bg-Colors-Background-bg-primary rounded-[10px] inline-flex flex-col justify-start items-center gap-16 overflow-hidden">
  <div class="w-full max-w-[1280px] px-8 bg-white flex flex-col justify-start items-start gap-8">
    <div class="self-stretch flex flex-col justify-start items-center gap-8">
      <div class="w-full max-w-[768px] flex flex-col justify-start items-center gap-5">
        <div class="self-stretch flex flex-col justify-start items-start gap-3">
          <div class="self-stretch text-center justify-start text-Colors-Text-text-primary-(900) text-4xl font-semibold font-['Inter'] leading-10">{{approval.title}}</div>
        </div>
        <div class="self-stretch text-center justify-start text-Colors-Text-text-tertiary-(600) text-xl font-normal font-['Inter'] leading-loose">{{approval.sub_title}}</div>
      </div>
    </div>
  </div>
  <div class="w-full h-[623px] max-w-[1280px] px-8 flex flex-col justify-start items-start gap-16">
    <div class="self-stretch h-[623px] inline-flex justify-center items-start gap-8 flex-wrap content-start">
      @if (approval.list.length > 0) {
      @for (list of approval.list; track $index) {
      <div class="flex-1 h-[560px] min-w-80 rounded-[10px] outline-1 outline-offset-[-1px] outline-Colors-Blue-dark-600 inline-flex flex-col justify-start items-start gap-5">
        <div class="self-stretch h-48 relative bg-gradient-to-b from-Colors-Cyan-25 to-gray-300 rounded-tr-[10px] rounded-br-[10px]">
          <img class="w-44 h-36 pt-2 left-[97px] top-[29px] absolute inline-flex justify-center items-start" src="{{ imageUrl +  list.image.data.attributes.url }}" />
        </div>
        <div class="self-stretch p-4 flex flex-col justify-start items-start gap-6">
          <div class="self-stretch flex flex-col justify-start items-start gap-2">
            <div class="self-stretch inline-flex justify-start items-start gap-4">
              <div class="flex-1 justify-start text-Colors-Text-text-primary-(900) text-2xl font-semibold font-['Inter'] leading-loose">{{list.title}}</div>
            </div>
            <div class="self-stretch justify-start text-[#475467] text-base font-normal font-['Inter'] leading-normal" [innerHTML]="sanitize(list.description)"></div>
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>
</div>

}



@if(partners) {
<section class="container mx-auto">
  <div class="w-full h-[894px] py-24 bg-gradient-to-b rounded-[10px] flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-[94px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">{{partners?.title}}</div>
          </div>
          <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{partners?.subtitle}}</div>
        </div>
      </div>
    </div>

    <div class="self-stretch h-[623px] px-8 flex-col justify-start items-start gap-16 flex">
      <div class="self-stretch h-[623px] justify-center items-start gap-8 inline-flex">
        @for (part of partners.partners; track $index) {
        <div class="grow shrink basis-0 h-[560px] rounded-[10px] border border-[#155dee] flex-col justify-start items-start gap-5 inline-flex">
          <div class="h-[200px] pl-[97px] pr-[107px] pt-[29px] pb-[30px] bg-gradient-to-b from-[#f5feff] to-[#d4dbe2] rounded-tr-[10px] rounded-br-[10px] justify-start items-center inline-flex">
            <img class="w-[180px] self-stretch pt-2" src="{{ environmentUrl + part?.image?.data?.attributes?.url }}" />
          </div>
          <div class="self-stretch h-[336px] p-4 flex-col justify-start items-start gap-6 flex">
            <div class="self-stretch h-[304px] flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch justify-start items-start gap-4 inline-flex">
                <div class="grow shrink basis-0 text-[#101828] text-2xl font-semibold font-['Inter'] leading-loose">{{part?.title}}</div>
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">
                {{ part?.description }}
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
}

<section class="bg-[#eef4ff]">
  <div class="container mx-auto py-10">
    <app-testimonial></app-testimonial>
  </div>
</section>


@if (InstructorData) {
<section class="bg-[#f9fafb] py-24 h-auto ">
  <div class="container mx-auto">
    <div class="self-stretch h-[94px] mb-12 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 justify-between items-start gap-3 flex">
            <div class="self-stretch text-left text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">
              {{ InstructorData?.title }}
            </div>
            <div class=" px-[18px] py-3  bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center">
              <div class="px-0.5 justify-center items-center flex">
                <a routerLink="{{ InstructorData?.button?.href }}" class="text-white text-base font-semibold font-['Inter'] leading-normal">
                  {{ InstructorData?.button?.label }}</a>
              </div>
            </div>
          </div>
          <div class="self-stretch text-left text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">
            Hear from some of our amazing customers who are automating their finances.</div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
      @for (faculty of homepagefacultymembers; track $index) {
        <div class="self-stretch h-96 min-w-80 relative" style="background-image: url('{{environmentUrl + faculty.attributes.image.data.attributes.url}}');background-size: cover;background-repeat: no-repeat;background-position: center;">
          <div class="w-full h-10 left-0 bottom-0 absolute bg-gradient-to-b from-black/0 to-black/40 inline-flex flex-col justify-end items-center">
            <div class="self-stretch px-5 py-2 bg-Component-colors-Alpha-alpha-white-30/30  outline-Component-colors-Alpha-alpha-white-30/30 backdrop-blur-md flex flex-col justify-start items-start gap-3">
              <div class="self-stretch flex flex-col justify-start items-start gap-4">
                <div class="self-stretch justify-start text-Colors-Text-text-white text-2xl font-semibold font-['Inter'] leading-9 text-white">{{faculty.attributes.firstName}}
                  {{ faculty.attributes.lastName }}
                </div>
              </div>
              <div class="self-stretch flex flex-col justify-start items-start gap-0.5">
                <div class="self-stretch justify-start text-Colors-Text-text-white text-[12px] font-semibold font-['Inter'] leading-7 text-white">
                  {{ faculty.attributes?.shortDesc}}
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

}

<app-getintouch></app-getintouch>

<app-newsletter></app-newsletter>