
@if (frontPageBanner) {
  <section class="">
    <div class="my-16 bg-white">
      <div class="flex md:flex-col lg:flex-row md:flex-wrap flex-nowrap px-8 justify-center items-center">
        <div class="grow shrink basis-0 flex-col justify-start items-start md:mb-20">
          <div class="flex-col justify-start items-start gap-12 flex mb-8">
            <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">{{frontPageBanner?.title}}</div>
            <div class="self-stretch h-[268px] pl-4 flex-col justify-start items-start gap-5 flex">
              @for (item of frontPageBanner.list; track $index) {
              <div class="self-stretch justify-start items-start gap-3 inline-flex">
                <div class="w-7 h-7 rounded-full justify-center items-center flex overflow-hidden">
                  <div class="w-7 h-7 relative flex-col justify-start items-start flex overflow-hidden">
                    <img src="/assets/images/check-icon.png" class="h-6 mr-2" alt="">
                  </div>
                </div>
                <div class="grow shrink basis-0 flex-col justify-start items-start inline-flex">
                  <div class="self-stretch text-[#475467] text-lg font-normal font-['Inter'] leading-7">
                    {{ item.title }}
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="justify-start items-start gap-3 inline-flex">
            <div class="px-[18px] py-3 bg-white rounded-lg shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-[#d0d5dd] justify-center items-center gap-1.5 flex overflow-hidden">
              <div class="px-0.5 justify-center items-center flex">
                <div class="text-[#344054] text-base font-semibold font-['Inter'] leading-normal">View package</div>
              </div>
            </div>
            <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
              <div class="px-0.5 justify-center items-center flex">
                <a href="/" class="text-white text-base font-semibold font-['Inter'] leading-normal">View Course catalouge</a>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <img class="w-full" src="{{ environmentUrl + frontPageBanner?.image?.data?.attributes?.url }}" />
        </div>
      </div>
    </div>
  </section>
}


@if (highlightsimple) {
<section class="container mx-auto">
  <div class="h-auto py-24 bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch justify-start items-start gap-24 inline-flex">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
        <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
          <div class="self-stretch text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">{{highlightsimple?.title}}</div>
        </div>
        <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{highlightsimple?.description}}</div>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        @for (list of highlightsimple?.list; track $index) {
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-[#6071f3] rounded-[10px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border border-white justify-center items-center flex overflow-hidden">
            <div [innerHTML]="sanitize(list?.icon)" class="w-6 h-6 relative flex-col justify-start items-start flex overflow-hidden">
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch h-[120px] pt-2.5 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">
                {{ list?.title }}
              </div>
              <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">
                {{ list?.description }}
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="w-full h-[612px] pb-24 flex-col justify-start items-center inline-flex">
    <div class="self-stretch h-auto bg-white flex-col justify-start items-start flex">
      <img class="h-auto w-full relative" src="{{ environmentUrl + highlightsimple?.image?.data?.attributes?.url }}" />
    </div>
  </div>
</section>

}

<section class="bg-[#f9fafb] py-24">
  <div class="container mx-auto">
    <div class="self-stretch h-[94px] mb-12 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-left text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">New on CPE Warehouse</div>
          </div>
          <div class="self-stretch text-left text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Explore our newest programs, focused on delivering in-demand skills</div>
        </div>
      </div>
    </div>
    <div class="flex gap-8 flex-wrap border-b border-[#e4e7ec] pb-14">
      @for (course of homeCourses; track $index) {
        <app-course-card app-course-card [course]="course"></app-course-card>
      }
    </div>

    <div class="pt-12">
      <div class="w-[250px] px-[18px] py-3  bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center">
        <div class="px-0.5 justify-center items-center flex">
          <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Explore all webinars</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="h-[432px] py-24 w-full bg-white flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch h-60  flex justify-start items-center gap-16">
      <div class="w-full self-stretch py-16 border-t border-b border-[#e4e7ec] justify-between items-start gap-4 inline-flex">
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#422f7d] text-6xl font-semibold font-['Inter'] leading-[72px]">400+</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Certificate issued</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center"><span class="text-[#422f7d] text-6xl font-semibold font-['Inter'] leading-[72px]">600</span><span class="text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">%</span></div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Text to fill</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">30k</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">Donated to Alzheimer's</div>
            </div>
          </div>
        </div>
        <div class="grow shrink basis-0 flex-col justify-start items-center gap-5 inline-flex">
          <div class="self-stretch h-28 flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-[#101828] text-6xl font-semibold font-['Inter'] leading-[72px]">200+</div>
            <div class="self-stretch h-7 flex-col justify-start items-center gap-2 flex">
              <div class="self-stretch text-center text-[#101828] text-lg font-semibold font-['Inter'] leading-7">5-star reviews</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

@if(partners) {
  <section class="container mx-auto">
    <div class="w-full h-[894px] py-24 bg-gradient-to-b rounded-[10px] flex-col justify-start items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch h-[94px] px-8 flex-col justify-start items-start gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
          <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
            <div class="self-stretch h-11 flex-col justify-start items-start gap-3 flex">
              <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">{{partners?.title}}</div>
            </div>
            <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">{{partners?.subtitle}}</div>
          </div>
        </div>
      </div>
  
      <div class="self-stretch h-[623px] px-8 flex-col justify-start items-start gap-16 flex">
        <div class="self-stretch h-[623px] justify-center items-start gap-8 inline-flex">
          @for (part of partners.partners; track $index) {
          <div class="grow shrink basis-0 h-[560px] rounded-[10px] border border-[#155dee] flex-col justify-start items-start gap-5 inline-flex">
            <div class="h-[200px] pl-[97px] pr-[107px] pt-[29px] pb-[30px] bg-gradient-to-b from-[#f5feff] to-[#d4dbe2] rounded-tr-[10px] rounded-br-[10px] justify-start items-center inline-flex">
              <img class="w-[180px] self-stretch pt-2" src="{{ environmentUrl + part?.image?.data?.attributes?.url }}" />
            </div>
            <div class="self-stretch h-[336px] p-4 flex-col justify-start items-start gap-6 flex">
              <div class="self-stretch h-[304px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch justify-start items-start gap-4 inline-flex">
                  <div class="grow shrink basis-0 text-[#101828] text-2xl font-semibold font-['Inter'] leading-loose">{{part?.title}}</div>
                </div>
                <div class="self-stretch text-[#475467] text-base font-normal font-['Inter'] leading-normal">
                  {{ part?.description }}
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
}

@if (InstructorData) {
  <section class="bg-[#f9fafb] py-24 h-auto ">
    <div class="container mx-auto">
      <div class="self-stretch h-[94px] mb-12 flex-col justify-start items-start gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-8 flex">
          <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
            <div class="self-stretch h-11 justify-between items-start gap-3 flex">
              <div class="self-stretch text-left text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">
                {{ InstructorData?.title }}
              </div>
              <div class=" px-[18px] py-3  bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center">
                <div class="px-0.5 justify-center items-center flex">
                  <a href="{{ InstructorData?.button?.href }}" class="text-white text-base font-semibold font-['Inter'] leading-normal">
                    {{ InstructorData?.button?.label }}</a>
                </div>
              </div>
            </div>
            <div class="self-stretch text-left text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">
              Hear from some of our amazing customers who are automating their finances.</div>
          </div>
        </div>
      </div>
  
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
        @for (faculty of homepagefacultymembers; track $index) {
        <div class="w-full flex flex-wrap gap-8 mb-24 border">
          <div class=" inline-flex flex-col justify-start items-start">
            <img class="h-full w-full relative" src="{{environmentUrl + faculty.attributes.image.data.attributes.url}}" />
            <div class="flex flex-col justify-start items-start">
              <div class="h-[102px] flex flex-col justify-start items-start gap-4 px-4 py-4">
                <div class="h-[62px] flex flex-col justify-start items-start gap-1">
                  <div class="relative justify-start text-[#101828] text-xl font-semibold font-['Inter'] leading-[30px]">{{faculty.attributes.firstName}}
                    {{ faculty.attributes.lastName }}
                  </div>
                  <div class="relative justify-start text-[#004eea] text-lg font-normal font-['Inter'] leading-7">
                    {{ faculty.attributes?.shortDesc}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
  
}


<section class="bg-[#eef4ff]">
  <div class="container mx-auto">
    <div class="h-[592px] py-24  flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="self-stretch px-8 justify-center items-center inline-flex">
        <div class="grow shrink basis-0 h-[400px] bg-[#6071f3] rounded-3xl shadow-[0px_20px_24px_-4px_rgba(16,24,40,0.08)] justify-start items-center flex overflow-hidden">
          <div class="grow shrink basis-0 p-16 flex-col justify-center items-start gap-12 inline-flex">
            <div class="self-stretch h-[156px] flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch text-white text-3xl font-semibold font-['Inter'] leading-[38px]">2024 Live Webinar CPE Warehouse Pass </div>
              <div class="self-stretch text-white text-xl font-normal font-['Inter'] leading-[30px]">One-Year All-Access Pass: Full year of access from the date of purchase.</div>
            </div>
            <div class="justify-start items-start gap-3 inline-flex">
              <div class="px-[22px] py-4 bg-white rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-2.5 flex overflow-hidden">
                <div class="px-0.5 justify-center items-center flex">
                  <div class="text-[#18212f] text-lg font-semibold font-['Inter'] leading-7">Learn more</div>
                </div>
              </div>
            </div>
          </div>
          <img class="w-[480px] h-[400px] relative" src="/assets/images/banner-5.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto">
  <div class="h-[704px] py-24 bg-white flex-col justify-center items-center gap-16 inline-flex overflow-hidden">
    <div class="self-stretch px-8 justify-center items-center gap-16 inline-flex overflow-hidden">
      <div class="grow shrink basis-0 flex-col justify-start items-start gap-12 inline-flex">
        <div class="self-stretch h-[174px] flex-col justify-start items-start gap-6 flex">
          <div class="self-stretch text-[#101828] text-5xl font-semibold font-['Inter'] leading-[60px]">Get in touch</div>
          <div class="self-stretch text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Our friendly team is always here to chat from Monday to Friday 8am to 5pm ET. We are closed on US Holidays</div>
        </div>
        <div class="self-stretch justify-start items-start gap-4 inline-flex">
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px]  shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Contact us</div>
            </div>
          </div>
        </div>
      </div>
      <img class="h-[512px] relative" src="/assets/images/banner-4.png" />
    </div>
  </div>
</section>


<section class="container mx-auto">
  <div class="h-[444px] pb-24 bg-white flex-col justify-center items-center overflow-hidden">
    <div class="self-stretch h-[348px] px-8 flex-col justify-start items-start gap-8 flex">
      <div class="self-stretch h-[348px] p-16 bg-gray-50 rounded-2xl flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch h-[94px] flex-col justify-start items-center gap-5 flex">
          <div class="self-stretch text-center text-[#101828] text-4xl font-semibold font-['Inter'] leading-[44px]">Don't Miss Out on Free CPE Credits!</div>
          <div class="self-stretch text-center text-[#475467] text-xl font-normal font-['Inter'] leading-[30px]">Sign up now to receive our free CPE courses and stay ahead of the curve.</div>
        </div>
        <div class="justify-center items-start gap-4 inline-flex">
          <div class="grow shrink basis-0 flex-col justify-center inline-flex">
            <div class="self-stretch h-12 flex-col justify-start items-start gap-1.5 flex w-[400px]">
              <input type="text" placeholder="Enter your email" class="self-stretch px-3.5 py-3 bg-white rounded-lg shadow-[0px_1px_2px_0px_rgba(16,24,40,0.05)] border border-[#d0d5dd] justify-start items-center gap-2 inline-flex">
            </div>
            <div class="self-stretch mt-3"><span class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">We care about your data in our </span><span class="text-[#475467] text-sm font-normal font-['Inter'] underline leading-tight">privacy policy</span><span class="text-[#475467] text-sm font-normal font-['Inter'] leading-tight">.</span></div>
          </div>
          <div class="px-[18px] py-3 bg-[#2970fe] rounded-[28px] shadow-[inset_0px_0px_0px_1px_rgba(16,24,40,0.18)] border-2 border-white justify-center items-center gap-1.5 flex overflow-hidden">
            <div class="px-0.5 justify-center items-center flex">
              <div class="text-white text-base font-semibold font-['Inter'] leading-normal">Subscribe</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mx-auto h-[500px]">

  <app-carousel></app-carousel>
</section>