/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1280px;
}

.footer {
    background-color: #0c111d;
    color: white;
}

.list li::marker {
    content: "";
}

.slick-prev::before, .slick-next::before {
    font-size: 32px !important;
    color: #000 !important;
}

