/* You can add global styles to this file, and also import other style files */


@import "tailwindcss";

.container {
    max-width: 1280px;
}

.footer {
    background-color: #0c111d;
    color: white;
}

.list li::marker {
    content: "";
}

.slick-prev::before, .slick-next::before {
    font-size: 32px !important;
    color: #000 !important;
}

.autocomplete-container {
    box-shadow: none;
}

.input-container {
    border: none;
}
.autocomplete-container .input-container input {
 background-color:  inherit !important;
 border-color: #eee !important;
}

.autocomplete-container {
    box-shadow: none !important;
} 
/* 
nav[role='navigation'] {
    display: block;
    background-color: green;
    width: 100%;
}

.ngx-pagination {
    display: flex;
    justify-content: center;
}

.pagination-previous {
    color: #344054;
    cursor: pointer;
    font-size: small;
    font-weight: 600;
} */
